@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

header {
  width: 100%;
  height: auto;
  background: rgb(194, 33, 33);
  background: linear-gradient(135deg,
      rgba(194, 33, 33, 1) 0%,
      rgba(140, 20, 20, 1) 100%);
  padding: 12px 0px;
}

h1 {
  color: #ffffffee;
  text-align: center;
  font-size: 2em;
}

p {
  color: #ffffffee;
  text-align: center;
  font-size: 1.6em;
  padding: 5px 0 0 0;
}

/* N A V E G A C A O */

nav {
  width: 100%;
  height: auto;
  padding: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #000000d1;
}

nav img {
  height: 42px;
}